.TopNavBar {
    background-color: #c8102e;
    color: white;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; 
    font-size: 14px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px;
}
